.ownGrid {
    
    border: 0%;
    position: relative;
  
    padding: 0px;
    margin:0;
   
    margin-top: -4px;
    
    
    
    
}
.what{
    margin:0;
    padding:0;
    line-height: 0px;
    margin-top: -4px;
    

}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
* {
  box-sizing: border-box;
}