

.jumbotron {
    background-image: url('../imagesFronpage/Immersio_w1.jpg');
    text-align: center;
    padding-top: 29rem;
    padding-bottom: 0rem;
    background-position: center center;
  
    background-size: cover;
    color: rgb(150, 148, 146);
    max-width: 400;
   
   
    
   
  }
  .lead {
  
    opacity: transparent;
  }

.carousel-inner {
  
  
 
}
  
.carousel-inner img {
  width:100%;
  max-height: 640px;
  height: auto;
  width: auto\9; /* ie8 */
  height: auto\9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  float: none; 

  
}
  
.carousel-item img {
 
  
 
  height: auto;
}
  
 