
.shop {

}
.texti {
    text-align: left;
}
.oma {
    background-image: url("http://pekkaparviainen.com/gaia.jpg");
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
}
a {
    color: black;
}