.shop {

}

.texti {
    text-align: left;
}
.oma2 {
    /*background-image: url("http://pekkaparviainen.com/gaia.jpg"); */ 
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding-top: 32px;
    
}
a {
    color: black;
    text-decoration: none;

}
.oma3 {
    text-align: center;
    padding-bottom: 30px;
    color: black;

}


.webShop {
    font-family: "Montserrat", sans-serif;

}
.otsikko {
    text-align: center;
}


